@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-background-color: #fffbff;
  --h2-font-family: 'Roboto Condensed', sans-serif;
  --sub-text-font-family: 'Roboto', sans-serif;
  --h1-font-family: 'Playfair Display', sans-serif;
}

body {
  background-color: var(--main-background-color);
}

.font-roboto-condensed {
  font-family: var(--h2-font-family) !important;
}


h1 {
  font-family: var(--h1-font-family) !important;
}


